# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/database/prisma/migrations/dev.db*

# testing / coverage
coverage/
.nyc_output/

# misc
*.tsbuildinfo
.turbo/
